<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a book</title>
</head>
<body>
        <h1>Add a book</h1>
            <form action="#" th:action="@{/save}" th:object="${book}" method="post">
                <p>Title: <input type="text" th:field="*{title}"></p>
                <p>Author: <input type="text" th:field="*{author}"></p>
                <p>Year: <input type="text" th:field="*{publicationYear}"></p>
                <p>ISBN: <input type="text" th:field="*{isbn}"></p>
                <p>Price: <input type="text" th:field="*{price}"></p>
                <p><input type="submit" value="Save"></p>
            </form>
</body>
</html>