<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a category</title>
</head>
<body>
        <h1>Add a category</h1>
            <form action="#" th:action="@{/savecategory}" th:object="${category}" method="post">
                <p>Name: <input type="text" th:field="*{name}"></p>
                <p><input type="submit" value="Save"></p>
            </form>
</body>
</html>